fastapi[standard]
uvicorn[standard]

sqlalchemy[asyncio]
asyncpg==0.30.0
psycopg2-binary==2.9.10
pydantic==2.10.6
python-jose==3.4.0
bcrypt==4.2.1
passlib==1.7.4
alembic==1.14.1
PyYAML==6.0.2
watchdog==6.0.0
greenlet